h1 {
    margin-bottom: 500px;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;               
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #faf8f8 0%, #fff241 100%);
  }


  .container {
    background: #ffffff;
    width: 400px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }
  
  .input-area {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
  }
  

  #taskInput {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.2s;
  }
  
  #taskInput.error {
    border-color: red;
  }
  
  #errorMsg {
    margin-left: 10px;
    color: red;
    font-size: 0.9rem;
    white-space: nowrap;
  }
  
  button {
    padding: 10px 16px;
    margin-left: 6px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #ffd000;       
    color: #fff;
    font-weight: bold;
    transition: transform 0.2s, background 0.2s;
  }
  
  button:hover {
    background: #a18400;       
    transform: scale(1.05);
  }
  

  .filter-area {
    text-align: center;
    margin-bottom: 15px;
  }
  
  #taskList {
    list-style: none;
    padding:15px;
    margin: 0;
  }
  
  #taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff200;
    margin-bottom: 8px;
    padding: 10px;
    border-left: 5px solid #ffd000; 
    border-radius: 6px;
  }
  
  .task-text {
    flex: 1;
    margin-right: 8px;
  }
  
  .done .task-text {
    text-decoration: line-through;
    opacity: 0.6;
  }
  
  #taskList li button {
    margin-left: 5px;
    background-color: #999;
  }
  
  #taskList li button:hover {
    background-color: #666;
  }
  

  #taskList li button:nth-child(2) {
    background-color: #ff9721;
  }
  #taskList li button:nth-child(2):hover {
    background-color: #dd7600;
  }
  
  .counter {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
  }